@page
@model RazorDBCodeFirst21.Pages.Sales.GetAllSalesModel
@{
    ViewData["Title"] = "GetAllSales";
    
}

<p>
    <a asp-page="/Sales/Create">Create New Sale</a>
</p>
<br />
<h4 style="color:red "> List of sales</h4>
<form>
    <p>
        Search: <input type="text" asp-for="Amount" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            SaleId
        </th>
        <th>
            Product
        </th>
        <th>
            Amount
        </th>
        <th>
            SalesDate
        </th>

        <th>
            Customer Id
        </th>
    </tr>
    </thead>
    <tbody>

    @if (Model.Sales.Count() != 0)
    {
        @foreach (var item in Model.Sales)
        {
            <tr>
                <td>
                    @item.SaleId
                </td>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.Amount
                </td>
                <td>
                    @item.SalesDate
                </td>
                <td>
                    @item.CustomerId
                </td>
            
            </tr>
        }
    }
    </tbody>
</table>